.album-page {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.album-page__container {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}

.album-page__photos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.photo-item {
  padding: 20px;
  outline: 2px solid black;
}

.photo-item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
  height: 100%;
}

.photo-item__image {
  width: 100%;
  height: auto;
}

.photo-item__name {
  font-size: 2rem;
}

.no-photos {
  font-size: 2rem;
}

.add-photo {
  outline: 2px solid black;
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 420px;
  transition: all 0.5s ease-out;
  
  &:hover {
    background: rgb(209, 209, 209);
  }
}