.album-page {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.album-page__container {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}

.album-page__photos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.no-photos {
  font-size: 2rem;
}

.add-photo {
  outline: 2px solid black;
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 420px;
  transition: all 0.5s ease-out;
  
  &:hover {
    background: rgb(209, 209, 209);
  }
}