.gallery-page {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.gallery-page__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow:1;
  justify-content: flex-start;
  align-items:flex-start;
}

.gallery-page__albums {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}