.album {
  outline: 2px solid black;
  padding: 20px 30px;
  width: 31%;
  height: 700px;
  display: flex;
}

.album__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.album__cover {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
}