.fallback {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fallback__container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.fallback__oops {
  font-size: 5rem;

}

.fallback__message {
  font-size: 4rem;
}

.fallback__link {
  color: rgb(73, 73, 255);
  transition: all 0.4s ease-out;

  &:hover {
    color: rgb(0, 0, 144);
  }
  
  &:active {
    color: rgb(0, 0, 74);
  }
}