.nav-bar {
  display: flex;
  height: 90px;
  min-height: 90px;
  justify-content: center;
  align-items: center;
  background: #000;
  position: relative;
  z-index: 10;

  * {
    color: white;
  }
}

.nav-links {
  gap: 30px;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.nav-links__link,
.nav-bar__title {
  text-decoration: none;
  font-size: 1.3rem;
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.nav-bar__title {
  position: absolute;
  left: 60px;
  top: 14px;
  color: white;
  font-size: 2.5rem;
}

.nav-profile {
  position: absolute;
  top: 10px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  flex-basis: content;
  flex-direction: column;
  width: fit-content;
  min-width: 170px;
  border-radius: 0 0 15px 15px;
  gap: 10px;
  transition: all 0.5s ease;
  background: #000000;

  button {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.visible {
  transform: translateY(34%);
}

.hidden {
  transform: translateY(-70%);
}

.nav-profile__option {
  font-size: 1.3rem;
  text-align: center;
  transition: transform 0.5s ease-out;
  width: 100%;
  color: white;

  &:hover {
    transform: scale(1.05);
  }
}

.nav-profile__sign-out {
  font-size: 1.3rem;
  text-align: center;
  transition: color 0.4s ease-out, transform 0.5s ease-out;
  width: fit-content;
  color: white;

  &:hover {
    transform: scale(1.05);
    color: red;
  }
}

.nav-profile__username {
  width: 170px;
  color: white;
  font-size: 1.4rem;
  position: relative;
  transition: transform 0.4s ease-in;
  position: absolute;
  top: 25px;
  right: 50px;
  height: 50px;
  z-index: 100;
}