.nav-bar {
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  background: #000;
}
.nav-bar__title{
  color: white;
  font-size: 2rem;
}

.nav-links__link {
  color: white;
}

.nav-bar__auth {
  color: white;
}

.nav-bar__user-nickname {
  color: white;
}