@import "reset.scss";

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  all: unset;
  pointer-events: initial;
  user-select: initial;

  &:hover {
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}