@import "reset.scss";

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  all: unset;
  pointer-events:initial;
  user-select: initial;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 1px solid black;
  }
}

html {
  font-family: Arial, Helvetica, sans-serif;
}